@import "normalize.css";

// Color Variable
$primary-color: #41d91d;
$primary-color-dark: #3cca25;
$main-font-color: #3f444e;
$secondary-font-color: #a2adba;
$detail-color: #b5b5b5;
$detail-color-light: #fdfdfd;

$gradient-top: #f5f7fa;
$gradient-bottom: #c3cfe2;

$shadow-color: #83909f;


// Font
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,700,800,900');

// Mixins
@mixin linearGradient($top, $bottom) {
  background: $top; /* Old browsers */
  background: -moz-linear-gradient(top, $top 0%, $bottom 100%); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, $top),
    color-stop(100%, $bottom)
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    $top 0%,
    $bottom 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, $top 0%, $bottom 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, $top 0%, $bottom 100%); /* IE10+ */
  background: linear-gradient(to bottom, $top 0%, $bottom 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

@mixin diagonal-gradient($color1, $color2) {
  background: $color1; /* For browsers that do not support gradients */
  background: linear-gradient(
    to bottom right,
    $color1,
    $color2
  ); /* Standard syntax (must be last) */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=1 );
}

@mixin vertical-center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin box-shadow($x-axis: 0, $y-axis: 1px, $blur: 2px, $color: $default) {
  box-shadow: $x-axis $y-axis $blur $color;
}

body {
  font-family: 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.page {
  width: 100%;
  height: 100%;
  position: absolute;
  @include diagonal-gradient($gradient-top, $gradient-bottom);
  //@include linearGradient($gradient-top, $gradient-bottom);
}

.container {
  @include vertical-center();
  @include box-shadow(0px, 5px, 50px, $shadow-color);
  background: white;
  border-radius: 10px;
  padding: 3%;
  width: 35%;
  z-index: 1;
}

h4 {
  margin: 5% auto;
  width: 70%;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.8px;
  color: $secondary-font-color;
  text-align: center;
  line-height: 20px;

  a {
    font-weight: 700;
    color: $primary-color;
    text-decoration: none;
  }
}

.title-wrapper {
  max-width: 600px;
  margin: 2% auto 0 auto;
  text-align: center;

  h1 {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    color: $main-font-color;
    letter-spacing: 0.8px;
  }

  h3 {
    font-size: 16px;
    margin: 0 auto;
    width: 70%;
    color: $secondary-font-color;
    font-weight: 300;
    letter-spacing: 0.8px;
    text-align: center;
    line-height: 1.5;
    font-family: sans-serif;
    text-rendering: optimizeSpeed;
  }
}

form {
  width: 50%;
  max-width: 350px;
  margin: 5% auto;

  div {
    position: relative;
  }
}

input:not([type="submit"]) {
  display: block;
  outline: none;
  border-radius: 8px;
  border: 1px solid $detail-color;
  background-color: $detail-color-light;
  height: 45px;
  width: 100%;
  padding: 5%;
  margin: 5% auto;
  box-sizing: border-box;
}

input:focus {
  outline: none !important;
  border: 1px solid $primary-color;
  box-shadow: 0 0 4px $detail-color;
}

input:focus + label {
  transform: translateY(-2px);
}

input[type="submit"] {
  display: block;
  width: 80%;
  height: 40px;
  border-radius: 50px;
  background-color: $primary-color;
  border-color: $primary-color;
  color: white;
  margin: 0 auto;
  margin-top: 15%;
  margin-bottom: 0;

  font-size: 14px;
  letter-spacing: 0.5px;
}

button {
  display: block;
  width: 80%;
  height: 45px;
  border-radius: 7px;
  background-color: $primary-color;
  border-color: $primary-color;
  color: white;
  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.2px;

  &:focus {
    outline: 0;
  }

  &:active {
    outline: none;
    border: none;
    background-color: $primary-color-dark;
  }
}

::placeholder {
  font-size: 13px;
  letter-spacing: 0.5px;
}

.verificationInput {
  width: 300px !important;
  text-align: center;

  input {
    display: inline;
    width: 50px;
    margin: 3%;
    text-align: center;
  }
}

/* MEDIA QUERIES  */

/* Larger than mobile */
/* @media (min-width: 400px) {
  .title-wrapper {
    width: 100%;
  }

  .title-wrapper > h1 {
    font-size: 25px;
  }

  .title-wrapper > h3 {
    font-size: 14px;
  }

  h4 {
    width: 100%;
  }

  .container {
    width: 80%;
  }
  canvas {
    display: none;
  }

  form {
    width: 80%;
  }
} */

/* Larger than phablet */
/* @media (min-width: 550px) {

} */

/* Larger than tablet */
/* @media (min-width: 750px) {
  canvas {
    display: block;
  }
} */

/* Larger than desktop */
/* @media (min-width: 1000px) {} */

/* Larger than Desktop HD */
/* @media (min-width: 1200px) {} */
